@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #e5e7eb;
}
/* Add this CSS in your global styles or a relevant CSS file */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
